{% extends 'base.html' %}

{% block title %}
Home - Elysian
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12">
            {% if current_user.is_authenticated %}
                <h2 class="text-center">Your recommended articles</h2>
            {% else %}
                <h2 class="text-center">What's new?</h2>
            {% endif %}
            <hr>
            {% for article in articles %}
                <div>
                    <h3><a href="{{ url_for('main.article_detail', article_id=article.id) }}" class="font-weight-bold">{{ article.title }}</a></h3>
                    <p class="lead" >{{ article.summary }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}